.ui-form {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.ui-form-row {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.ui-form-field {
  flex-grow: 1;
}
