
// Include theming for Angular Material with `mat.theme()`.
// This Sass mixin will define CSS variables that are used for styling Angular Material
// components according to the Material 3 design spec.
// Learn more about theming and how to use it for your application's
// custom components at https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use './app/shared/ui/styles/index';

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      //secondary: mat.$azure-palette,
      //tertiary: mat.$red-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: light;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);

  margin: 0;

  &.dark-theme {
    color-scheme: dark;
  }
}
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.error {
  @include mat.theme(
      (
        color: mat.$red-palette,
      )
  );

  color: var(--mat-sys-primary);
}

.warn {
  @include mat.theme(
      (
        color: mat.$orange-palette,
      )
  );

  color: var(--mat-sys-primary);
}

.accent {
  @include mat.theme(
      (
        color: mat.$chartreuse-palette,
      )
  );
  color: var(--mat-sys-primary);
}

.theme-toggle {
  position: absolute;
  top: 13px;
  right: 13px;
}
